aws/tap/ec2-instance-selector
awscli
azure-cli
bash
bash-completion
bash-git-prompt
circleci
cmake
codeclimate/formulae/codeclimate
colordiff
coreutils
dcpmidstream/core/el
derailed/k9s/k9s
diff-so-fancy
docker-machine-driver-hyperkit
dos2unix
ethereum
exa
faas-cli
fish
fluxcd/tap/flux
fluxctl
geoip
gh
git
git-crypt
git-lfs
gitlab-runner
gnu-sed
gnupg
go
grafana
graphviz
gron
helm
helm@2
hexedit
htop
httpie
hub
imagemagick
instrumenta/instrumenta/conftest
instrumenta/instrumenta/kubeval
isl
jansson
jsonlint
k3d
kibana
krew
kube-ps1
kubectx
kustomize
lazydocker
lazygit
libmpc
lua
lynx
mas
micro
minikube
mitmproxy
nano
ncftp
nginx
nmap
nuget
pgcli
pinentry-mac
postgresql
proxychains-ng
python-yq
qt
rancher-cli
rancher-compose
redis
retry
rke
shellcheck
spidermonkey
sslsplit
tektoncd-cli
telnet
terraform
terraform@0.12
the_silver_searcher
tree
unixodbc
velero
vsts-cli
watch
weaveworks/tap/eksctl
wget
wireshark
wxmac
xmlstarlet
yamllint
yarn
zeromq
