bettertouchtool
dbeaver-community
diffmerge
docker
dotnet-sdk
filezilla
firefox
gimp
google-chrome
iterm2
karabiner-elements
microsoft-teams
minikube
nordvpn
postman
pycharm-ce
slack
visual-studio-code
vlc
wireshark
