awscli
azure-cli
azure-functions-core-tools
azure-functions-core-tools@2
bash-completion
bash-git-prompt
c-ares
circleci
cmake
colordiff
coreutils
diff-so-fancy
docker-machine
docker-machine-driver-hyperkit
dos2unix
el
ethereum
exa
faas-cli
fish
fluxctl
fontconfig
freetype
gd
gdbm
geoip
gettext
gh
git
git-crypt
glib
gmp
gnutls
go
grafana
graphviz
gron
gts
helm
helm@2
hexedit
htop
httpie
hub
icu4c
ilmbase
imagemagick
jansson
jasper
jemalloc
jpeg
jq
jsonlint
k3d
kube-ps1
kubectx
kubernetes-cli
kubernetes-helm
kustomize
lazydocker
lazygit
libde265
libev
libevent
libffi
libgcrypt
libgpg-error
libheif
libidn2
libmaxminddb
libnet
libomp
libpcap
libpng
libsmi
libssh
libtasn1
libtiff
libtool
libunistring
libyaml
little-cms2
lua
lua@5.1
lynx
mas
micro
minikube
mitmproxy
nano
ncftp
ncurses
netpbm
nettle
nghttp2
nginx
node
nspr
oniguruma
openexr
openjpeg
openssl
openssl@1.1
p11-kit
pcre
pcre2
pkg-config
protobuf
proxychains-ng
python
python-yq
python3
python@3.8
qt
readline
redis
shared-mime-info
shellcheck
spidermonkey
sqlite
sslsplit
tektoncd-cli
terraform
the_silver_searcher
unbound
unixodbc
vsts-cli
watch
webp
wireshark
wxmac
x265
xmlstarlet
xz
yamllint
