azure-cli
azure-functions-core-tools
c-ares
cmake
colordiff
coreutils
diff-so-fancy
docker-machine
docker-machine-driver-hyperkit
dos2unix
erlang@19
ethereum
exa
fish
fluxctl
fontconfig
freetype
gd
gdbm
geoip
gettext
git
git-crypt
glib
gmp
gnutls
go
grafana
graphviz
gron
gts
hexedit
htop
httpie
hub
icu4c
ilmbase
imagemagick
jasper
jpeg
jq
jsonlint
kubernetes-cli
kubernetes-helm
lazydocker
libde265
libevent
libffi
libgcrypt
libgpg-error
libheif
libomp
libpng
libtasn1
libtiff
libtool
libunistring
little-cms2
lua
mas
micro
mitmproxy
mongodb
msodbcsql
mssql-tools
nano
ncftp
ncurses
netpbm
nettle
nginx
node
nspr
oniguruma
openexr
openjpeg
openssl
openssl@1.1
p11-kit
pcre
pcre2
pkg-config
protobuf
proxychains-ng
python
python3
python@2
qt
readline
redis
shellcheck
spidermonkey
sqlite
sslsplit
terraform
the_silver_searcher
unixodbc
vsts-cli
watch
webp
wireshark
wxmac
x265
xmlstarlet
xz
yq
