adobe-acrobat-reader
bettertouchtool
cakebrew
dbeaver-community
diffmerge
docker
firefox
gimp
google-chrome
iterm2
karabiner-elements
macdown
meld
nordvpn
oracle-jdk
postman
pycharm-ce
qmk-toolbox
qview
slack
spectacle
transmission
visual-studio-code
vlc
wireshark
