adobe-acrobat-reader
bettertouchtool
dbeaver-community
diffmerge
docker
dotnet-sdk
firefox
gimp
iterm2
karabiner-elements
keybase
microsoft-teams
nordvpn
postman
pycharm-ce
slack
spectacle
spotify
visual-studio-code
vlc
webex-teams
wireshark
