autopep8==1.5.4
flake8==3.8.4
httplib2==0.19.1
ipython==7.19.0
ipython-genutils==0.2.0
iso8601==0.1.13
Jinja2==3.0.1
jq==1.1.1
pyflakes==2.2.0
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.4.1
requests==2.25.0
tzlocal==2.1
urllib3==1.26.6
virtualenv==20.2.2
