autopep8==2.0.4
flake8==6.1.0
httplib2==0.22.0
ipython==8.15.0
ipython-genutils==0.2.0
iso8601==2.0.0
Jinja2==3.1.2
jq==1.5.0
pyflakes==3.1.0
pylint==2.17.5
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML @ file:///private/tmp/pyyaml-20230717-6270-1iiwi1j/PyYAML-6.0.1
requests==2.31.0
tzlocal==5.0.1
urllib3==2.0.4
virtualenv==20.24.5
