Arjun.swagger-viewer
austin.code-gnu-global
christian-kohler.npm-intellisense
CoenraadS.bracket-pair-colorizer
DavidAnson.vscode-markdownlint
dawhite.mustache
dbaeumer.vscode-eslint
eamodio.gitlens
ed-elliott.azure-arm-template-helper
eg2.tslint
eg2.vscode-npm-script
esbenp.prettier-vscode
glen-84.sass-lint
humao.rest-client
JuanBlanco.solidity
mauve.terraform
mikestead.dotenv
ms-azure-devops.azure-pipelines
ms-azuretools.vscode-azureappservice
ms-azuretools.vscode-azurefunctions
ms-azuretools.vscode-docker
ms-kubernetes-tools.vscode-kubernetes-tools
ms-mssql.mssql
ms-python.python
ms-vscode.azure-account
ms-vscode.cpptools
ms-vscode.Go
ms-vsliveshare.vsliveshare
msazurermtools.azurerm-vscode-tools
natewallace.angular2-inline
numaru.vscode-tap
oderwat.indent-rainbow
quantum.quantum-devkit-vscode
redhat.vscode-yaml
timonwong.shellcheck
vncz.vscode-apielements
yzhang.markdown-all-in-one
